.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  height: 100vh;
  justify-content: center;
}

.field {
  flex-direction: column;
  display: flex;
  gap: 8px;
}

.label {
  font-size: 20px;
}

.input {
  height: 32px;
  font-size: 20px;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result {
  font-size: 20px;
}